<div class="w-full flex justify-center items-center">
  <div
    class="lg:w-2/3 h-auto flex flex-row justify-between items-center py-5 mt-5"
  >
    <!-- logo -->
    <a routerLink="/home"
      ><img src="assets/images/expert-apps-logo-color.png" alt=""
    /></a>
    <!-- navigation -->
    <nav
      class="flex flex-row justify-center items-center gap-5 text-xl font-medium"
    >
      <a class="text-black" routerLink="/" routerLinkActive="activeLink"
        >Home</a
      >
      <a class="text-black" routerLink="/">About Us</a>
      <a class="text-black" routerLink="/">Solution</a>
      <a class="text-black" routerLink="/">Our teams</a>
      <a class="text-black" routerLink="/">Blog</a>
      <a class="text-black" routerLink="/">Contact</a>
      <button
        class="py-1 px-3 rounded-md border-2 hover:text-white hover:bg-blue-700 border-blue-700 text-center text-blue-700"
      >
        ع
      </button>
    </nav>
  </div>
</div>
