<div class="w-full h-auto flex justify-center items-center py-10 bg-blue-700">
  <div
    class="lg:w-2/3 grid lg:grid-cols-4 md:grid-cols-4 sm:lg:grid-cols-1 content-center lg:gap-8 md:gap-4 sm:gap-3"
  >
    <a class="flex justify-center items-center" routerLink="/home">
      <img src="assets/images/expert-apps-logo-white.png" alt="" />
    </a>

    <nav
      class="col-span-2 flex flex-row justify-center items-center gap-5 text-xl font-medium"
    >
      <a class="text-white" routerLink="/">About Us</a>
      <a class="text-white" routerLink="/">Solution</a>
      <a class="text-white" routerLink="/">Our teams</a>
      <a class="text-white" routerLink="/">Contact</a>
    </nav>

    <div class="flex justify-center items-center gap-4">
      <button
        class="w-12 h-12 rounded-full bg-blue-600 text-white text-xl border-2 hover:border-white"
      >
        <i class="fab fa-facebook-f"></i>
      </button>
      <button
        class="w-12 h-12 rounded-full bg-blue-600 text-white text-xl border-2 hover:border-white"
      >
        <i class="fab fa-twitter"></i>
      </button>
      <button
        class="w-12 h-12 rounded-full bg-blue-600 text-white text-xl border-2 hover:border-white"
      >
        <i class="fab fa-linkedin-in"></i>
      </button>
    </div>
  </div>
</div>
<div
  class="w-full h-auto flex justify-center items-center bg-blue-800 py-5 text-white font-sm text-md"
>
  <span class="mr-2">&copy;</span>
  2022 Expert Apps, All Rights Reserved
</div>
