mat-cell,
.mat-cell,
mat-footer-cell,
.mat-footer-cell,
mat-header-cell .mat-header-cell {
  padding: 0.75rem !important;
}

.add_button {
  button {
    cursor: pointer;
  }
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type {
  div {
    display: flex;
    justify-content: space-around;

    svg {
      cursor: pointer;

      transform: scale(1);
      transition: all .3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  min-width: 8vw;
}
